        .JsActionLink {
            color: blue;
            user-select: none;
            cursor: pointer;
        }
        .JsActionLink:hover {
                text-decoration: underline;
            }
        .DocumentManager th {
            text-align: left;
        }

body {
padding:5px;
}