/*IframeEditorBits for schedule --->*/

.Schedule_Content {
float:left;
/*background-color:blue;*/
}
.Schedule_Editor_Wraper {
 float:left;
  /* background-color:lime;*/
}

/*<---IframeEditorBits for schedule*/

@font-face {
    font-family: 'Icons';
    src: url('heydings_icons.ttf') format('truetype');
}


.status {
         font-family: Icons;
 font-size:xx-large;
 padding:2px;
}

.status:hover {
 background-color:none;

}

.status-None {
    color:darkslategray;
}
 .status-Green  {
     color:green;
}
 .status-Yellow  {
     color:gold;
}
 .status-Red {
     color:red;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.DocumentManager th td {
    text-align:left;
    font-weight:bold;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.link-text{
    color: #0094ff;
}

.link-text:hover{
    color: #ffffff;
    background-color: #adadad;
    font-size: 15px;
    text-decoration: none;
}

#table-description1{
    max-width: 450px;
    text-align:justify;
}

#table-description2 {
    max-width: 370px;
    text-align:justify;
}

#table-description3{
    max-width: 850px;
    text-align:justify;
}

.table-width{
     max-width: 650px;
}

#tableCol1, #tableCol2, #tableCol3, #tableCol4{
    background: #908e8e;
    color: #ffffff;
}

.btn-custom {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  height: 24px;
  padding: 2px 6px;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  color: #333333;
  /*background-color: #8EF05F;*/
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active{
    /*background-color: #8EF05F;*/
    font-size: 15px;
}

.footer-custom{
  color: whitesmoke;
  background-color: #222222;
  border-color: #080808;
  text-align:center;
  padding-top: 5px;

  position: fixed;
  right: 0;
  left: 0;
  border-width: 0 0 1px;

  bottom: 0;
  margin-bottom: 0;
}

.navbar-custom{
    color:  whitesmoke;
}

.navbar-custom:hover,
.navbar-custom:focus {
  color: #ffffff;
  /*background-color: transparent;*/
}

.navbar-inverse {
  background-color: #222222;
  border-color: #080808;
  color:  #fff;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  /*color: #8EF05F;*/
  /*background-color:  #8EF05F;*/
  background-color: #adadad;
  font-size: 19px;
}

.navbar-brand {
  float:left;
  padding: 15px 30px;
  font-size: 18px;
  line-height: 20px;
  background-color: #D60000;
  border: 1px solid  #D60000;
  font-size: 22px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color:  #D60000;
  background-color:  #ff0000;
  border: 1px solid  #ff0000;
  font-size: 22px;
}

.navbar {
  border: 0px solid transparent;
}

#url-string{
 padding: 5px 5px;
 font-family:'Arial Unicode MS';
 background-color: whitesmoke;
 height: 26px;
}

.modal-Iframe {
width:100%; margin-bottom: -5px;
min-height: 200px;
}

.modal-body,.modal-dialog {
padding:0;
width:100%
}
.modal-header {
padding:5px;
}

.modal-footer {
padding:5px;
margin-top:0;
}

.scheduler_container{
    width:100%;
    height:600px;
    border:1px solid #aeaeae;
}

#under-uppgbyggnad{
    color: red;
}

.lms-schedule-today {
    font-weight: bold;
}

.lms-schedule-module {

    /*padding-top: 0;
    border-top: 1px solid black;*/
}

.lms-schedule-date {
    text-align: left;
    /*margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0;*/
    padding-top: 10px;
    margin-bottom: 10px;

    display: block;
    overflow: hidden;
    white-space: nowrap; 
    vertical-align: bottom;
    /*border-bottom: 1px solid #bbb;
    border-top: 1px solid #ebebeb;*/
}


.lms-schedule-date > span {
    font-style: italic;
    /*font-weight: bold;*/
    font-size: small;
    position: relative;
    /*display: inline-block;*/
}

.lms-schedule-date > span:before,
.lms-schedule-date > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1500px;
    height: 1px;
    background: black;
}
.lms-schedule-date > span:before {
    right: 100%;
    margin: 15px;
}
.lms-schedule-date > span:before {
    left: 100%;
    margin: 15px;
}

.lms-schedule-activity {
    border-bottom: 1px solid #bbb;
}
