<!DOCTYPE html>
<html>
<head>
    <title></title>
     @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()
 <!--Scripts--> 
       @RenderSection("scripts", required: false)
    <!--Scripts--> 
</body>
</html> 