

@{
    ViewBag.Title = "Lexicon LMS - Schema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<h2>Schema &nbsp; &nbsp;  <span id="under-uppgbyggnad">under uppbyggnad!!!</span></h2>
<hr />
<br />
<div class="scheduler_container">
    @Html.Raw(Model.Render())
</div>

